<link rel="stylesheet" href="<%= assetPath('css/posts.css') %>">
<!-- <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous"> -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<div class="individual-post" id="post-<%= post._id %>"> 
<div>
    <div id="post-user-top-name">
    <img src="<%= post.user.avatar %>" id="post-user-pic">
    <p id="post-user-name"><%= post.user.name %></p>

        <div id="likes-post">
            <% if (locals.user) { %>
                <a class="toggle-like-button" data-likes="<%= post.likes.length %>" href="/likes/toggle/?id=<%=post._id%>&type=Post">
                    <%= post.likes.length %> <i class="fa-solid fa-heart">Likes</i>
                </a>
                <% }else{ %>
                    <%= post.likes.length %> <i class="fa-solid fa-heart">Likes</i>
                <% } %>
            </div>

    <% if(locals.user && locals.user.id == post.user.id){ %>
        <a class="delete-post-button" href="/posts/destroy/<%= post.id %>"><i class="fa-solid fa-trash-can">Delete</i></a>
        <% } %>
    
    </div>
    <img id="post-pic" src="<%= post.post_image %>" alt="<%= post.user.name %>" >

    <div id="post-description">
    <%= post.content %>
    </div>    
</div>


<div class="post-comments">
    <div id="create-comment">
    <% if(locals.user){ %>
    
        <form id="post-<%= post._id %>-comments-form" action="/comments/create" method="post">

            <input type="text" name="content" placeholder="add comment" required>

            <!-- giving hidden data to each comment so that we know to which post the comment is related -->
            <input type="hidden" name="post" value="<%= post._id %>" >
            <input type="submit" value="Add Comment">
        </form>
    
    
        <% } %>
    </div>
        <div class="post-comments-list">
            <ul id="post-comments-<%= post._id %>">
                <% for(comment of post.comments){ %>

                  
                  <%- include('_comments') -%>

                    <% } %>
            </ul>

</div>

</div>
</div>