
<link rel="stylesheet" href="<%= assetPath('css/home.css') %>">
<script src="<%= assetPath('js/home.js') %>"></script>

<!-- <link rel="stylesheet" href="/assets/css/home.css"> -->

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>


<!-- Bootstrap CSS -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">




<div id="home-container">

    
<div id="left-section">

    <section id="trending">


        <div class="container-trending">
            <input type="radio" name="slider" id="item-1" checked>
            <input type="radio" name="slider" id="item-2">
            <input type="radio" name="slider" id="item-3">
          <div class="cards">
            <label class="card l1" for="item-1" id="song-1">
              <img src="https://i0.wp.com/ramenswag.com/wp-content/uploads/2019/01/17-Best-images-about-Inspiration-_-Peaky-Blinders-on-Pinterest-....jpg?resize=1060%2C596&ssl=1" alt="song">
            </label>
            <label  class="card l2" for="item-2" id="song-2">
              <img src="https://images.unsplash.com/photo-1559386484-97dfc0e15539?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1234&q=80" alt="song">
            </label>
            <label class="card l3" for="item-3" id="song-3">
              <img src="https://images.unsplash.com/photo-1533461502717-83546f485d24?ixlib=rb-1.2.1&auto=format&fit=crop&w=900&q=60" alt="song">
            </label>
          </div>
          <div class="player">
            <div class="upper-part">
              <div class="play-icon">
                <svg width="20" height="20" fill="#2992dc" stroke="#2992dc" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="feather feather-play" viewBox="0 0 24 24">
                  <defs/>
                  <path d="M5 3l14 9-14 9V3z"/>
                </svg>
              </div>
              <div class="info-area" id="test">
                <label class="song-info" id="song-info-1">
                  <div class="title">Bunker</div>
                  <div class="sub-line">
                    <div class="subtitle">Balthazar</div>
                    <div class="time">4.05</div>
                  </div>
                  <div id="movie-description">
                    Action.Adventure.Thrill.Drama
                  </div>
                </label>
                <label class="song-info" id="song-info-2">
                  <div class="title">Words Remain</div>
                  <div class="sub-line">
                    <div class="subtitle">Moderator</div>
                    <div class="time">4.05</div>
                  </div>
                  <div id="movie-description">
                    The adeventures of The Jungle
                  </div>
                </label>
                <label class="song-info" id="song-info-3">
                  <div class="title">Falling Out</div>
                  <div class="sub-line">
                    <div class="subtitle">Otzeki</div>
                    <div class="time">4.05</div>
                  </div>
                  <div id="movie-description">
                    Heroic crime drama
                  </div>
                </label>
              </div>
            </div>
          </div>
        </div>


    </section>

    <section id="feed-posts">
        
        
        <h4 id="post-heading">Create your own post</h4>
        
        <div id="create-post-section">
        <% if(locals.user){ %>
        <form action="/posts/create" id="new-post-form" method="POST"  enctype="multipart/form-data">
            <textarea id="text-area" placeholder="Tell us your reviews about this series.." name="content" cols="30" rows="3" required></textarea>
         <br><br> 
         <div class="create-post-buttons" >
            <input type="file" name="post_image"  placeholder="Post">

            <input id="pot-button" type="submit" value="Post">
        </div>
        </form>
        <% } %>
    </div>

        <div id="posts-list-container">
            <ul>
                <% for(post of posts){ %>

                    <%- include('_posts') -%>

                    <% } %>
            </ul>
        </div>

    </section>

</div>

    <div id="right-section">
    <section id="user-friends">

        <!-- <% if(currUser && currUser.friends.length){ %>
            <div id="friends-list">
                <h4>Fricdcdcends</h4>
                <% if(locals.user){%>
                    
                        <% for(friendx of currUser.friends){%>
                            <p>
                                <a href="users/profile/<%=friendx.id%>"><%=friendx.name%></a>
                            </p>
                        <%}%>
                    
                <%}%>                
            </div>
        <% } %>
         -->


     <div id="friends-list">    
    <h4 id="friend-list-heading">Friends (<%= currUser.friends.length %>)</h4>

     <div id="friends-list-box">
        <% for(friendx of currUser.friends){%>
            <p id="friend-block">
            <a href="users/profile/<%=friendx.to.id%>">
            
                <img src="<%= friendx.to.avatar %>" id="friend-pic">
                <span class="leaderboard__name"><%= friendx.to.name %></span>
                
                              
            </a>
        </p>
            
            <!-- <p>
                <a href="users/profile/<%=friendx.to.id%>"><%= friendx.to.name %></a>
            </p> -->
        <%}%>
    </div>
    
    </div>

        <div id="friends-list">

            <h4 id="friend-list-heading">Users</h4>

            <div id="friends-list-box">
            <% for(u of all_users) { %>

                <p id="friend-block">
                    <a href="/users/profile/<%= u.id %>">

                        <img src="<%= u.avatar %>" id="friend-pic">
                        <span class="leaderboard__name"><%= u.name %></span>
                    
                    </a>
                </p>


            <% } %>
        </div>

        </div>

    </section>

    <%- include('_chat_box') -%>

</div>
    
</div>

<script src="<%= assetPath('js/home_post_comments.js') %>"></script>
<script src="<%= assetPath('js/home_posts.js') %>"></script>

<script src="<%= assetPath('js/toggle_likes.js') %>"></script>

<script>
    $('.toggle-like-button').each(function(){
        let self=this;
        let toggleLike=new ToggleLike(self);
    });
</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"></script>
<script src="<%= assetPath('js/chat_engine.js') %>"></script>


<% if (locals.user){ %>
<script>
    new ChatEngine('user-chat-box', '<%= locals.user.email %>')
</script>
<% } %>