
<link rel="stylesheet" href="<%= assetPath('css/home.css') %>">
<!-- <link rel="stylesheet" href="/assets/css/home.css"> -->

<div id="home-container">
    <section id="feed-posts">
        <h4>Posts</h4>
        
        <% if(locals.user){ %>
        <form action="/posts/create" id="new-post-form" method="POST"  enctype="multipart/form-data">
            <textarea placeholder="type here .." name="content" cols="30" rows="3" required></textarea>
         <br><br> 
            <input type="file" name="post_image"  placeholder="Post">

            <input type="submit" value="Post">
        </form>
        <% } %>

        <div id="posts-list-container">
            <ul>
                <% for(post of posts){ %>

                    <%- include('_posts') -%>

                    <% } %>
            </ul>
        </div>

    </section>

    <section id="user-friends">

        <!-- <% if(currUser && currUser.friends.length){ %>
            <div id="friends-list">
                <h4>Fricdcdcends</h4>
                <% if(locals.user){%>
                    
                        <% for(friendx of currUser.friends){%>
                            <p>
                                <a href="users/profile/<%=friendx.id%>"><%=friendx.name%></a>
                            </p>
                        <%}%>
                    
                <%}%>                
            </div>
        <% } %>
         -->

    <h4>Friends</h4>
    
   
    <%= currUser.friends.length %>
                    
        <% for(friendx of currUser.friends){%>
            <p>
                <a href="users/profile/<%=friendx.to.id%>"><%= friendx.to.name %></a>
            </p>
        <%}%>
    
    

        <div id="users-list">

            <h4>Users</h4>

            <% for(u of all_users) { %>

                <p>
                    <a href="/users/profile/<%= u.id %>"><%= u.name %></a>
                </p>


            <% } %>

        </div>

    </section>

    <%- include('_chat_box') -%>
</div>

<script src="<%= assetPath('js/home_post_comments.js') %>"></script>
<script src="<%= assetPath('js/home_posts.js') %>"></script>

<script src="<%= assetPath('js/toggle_likes.js') %>"></script>

<script>
    $('.toggle-like-button').each(function(){
        let self=this;
        let toggleLike=new ToggleLike(self);
    });
</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"></script>
<script src="<%= assetPath('js/chat_engine.js') %>"></script>


<% if (locals.user){ %>
<script>
    new ChatEngine('user-chat-box', '<%= locals.user.email %>')
</script>
<% } %>