        <link rel="stylesheet" href="<%= assetPath('css/user_profile.css') %>">

        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>


<!-- Bootstrap CSS -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">


        <div id="container">

        <div id="left-section">
        
            <img id="profile-pic" src="<%= profile_user.avatar %>" alt="<%= profile_user.name %>" width="100" >
        
        </div>


        <div id="right-section">
            <!-- <p id="heading">
                Update your personal information here
            </p> -->
        <% if(user.id == profile_user.id){ %>

            <p id="heading">
                Update your personal information here
            </p>
            <!-- if user matches then show the form -->
            <div id="update-container">
            <form action="/users/update/<%= profile_user.id %>" method="POST" enctype="multipart/form-data">
                <input id="update" type="text" name="name" placeholder="Your Name" value="<%= profile_user.name %>" required><br>
                <input id="update" type="email" name="email" placeholder="Your Email" value="<%= profile_user.email %>" required>
                <input id="update" type="file" name="avatar"  placeholder="Profile Picture">
                <input id="submit-button" type="submit"  value="Update">
            </form>
           </div>
            
        <%}else{%>
            
            <p id="heading">
                <%= profile_user.name %>'s Profile
            </p>
            <!-- else show only the profile info -->
            <p id="info"><%= profile_user.name %></p>
            <p id="info"><%= profile_user.email %></p>
            
            <% if(locals.user && profile_user.id!=user.id){%>
                <% if(locals.user.friends.includes(profile_user.id)){%>
                    <a id="add-button" href="/users/togg-friend/?id=<%=profile_user.id%>" class="toggle-friend-button">Remove Friend</a>        
                <%}else{%>
                    <a id="add-button" href="/users/togg-friend/?id=<%=profile_user.id%>" class="toggle-friend-button">Add Friend</a>        
                <%}%>
            <%}%>

        <%} %>


    </div>
        <script src="<%= assetPath('js/friendship.js') %>"></script>

        <script>
            $('.toggle-friend-button').each(function(){
                let self=this;
                let toggleFriend=new ToggleFriend(self);
            });
        </script>
        </div>